__pycache__/
/bin/☾
/Extra/FontCompose/FontPatcher/
/Extra/FontCompose/JuliaMono/

/Extra/FontCompose/PuaMaps/*
¡/Extra/FontCompose/PuaMaps/.keep

/Extra/FontCompose/Output/*
!/Extra/FontCompose/Output/99_JuliaMono-Regular.ttf
!/Extra/FontCompose/Output/customSymbols.ttf
!/Extra/FontCompose/Output/.XCompose
