__pycache__/
/bin/☾
/FontCompose/FontPatcher/
/FontCompose/JuliaMono/

/Extra/wasm_stuff.zip
/Extra/cpy_wasm_cache/*
/FontCompose/PuaMaps/Old/*
!/FontCompose/PuaMaps/Old/.keep

/FontCompose/Output/*
!/FontCompose/Output/99_JuliaMono-Regular.ttf
!/FontCompose/Output/99_JuliaMono-Regular.otf
!/FontCompose/Output/99_JuliaMono-Regular.woff2 
!/FontCompose/Output/.XCompose
!/FontCompose/Output/.SCRIPT_MAP
!/FontCompose/Output/multi.json
!/FontCompose/Output/style.json
!/FontCompose/Output/style_regex.json
