__pycache__/
/bin/☾
/FontCompose/FontPatcher/
/FontCompose/JuliaMono/

/FontCompose/PuaMaps/Old/*
¡/FontCompose/PuaMaps/Old/.keep

/FontCompose/Output/*
!/FontCompose/Output/99_JuliaMono-Regular.ttf
!/FontCompose/Output/.XCompose
!/FontCompose/Output/.SCRIPT_MAP
